<h1>User</h1>
<div id="sidebar">
    <ul>
        <li><%= link_to 'Accueil',root_path %></li>
        <li><%= link_to 'Utilisateurs',url_for(controller: 'users', action: 'index')%></li>
        <li><%= link_to 'Trajets',root_path %></li>
    </ul>
</div>
<h1>Liste des Utilisateurs</h1>
<div id="users">
    <ul>
    <% @users.each do |user| %>
        <li><%= user.name %> - <%= user.email %></li>
    <% end %>
    </ul>
</div>
<div id="sidebar">
    <ul>
        <li><%= link_to 'Accueil',root_path %></li>
        <li><%= link_to 'Utilisateurs',url_for(controller: 'users', action: 'index')%></li>
        <li><%= link_to 'Trajets',root_path %></li>
    </ul>
</div>

<style>
    #users {
    background-color: #f1f1f1; 
    padding: 10px;
    border-radius: 10px;
}

#users ul {
    list-style: none;
    padding: 0;
}

#users li {
    margin-bottom: 10px; 
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
    #sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 15%;
        background-color: #569FC4;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #sidebar ul {
        list-style: none;
        padding: 0;
    }

    #sidebar li {
        margin-bottom: 10px;
    }

    #sidebar a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
</style>
